@model StockData

<form method="post" asp-action="Delete">
	<div class="border p-4 mt-5">
		<div class="row pb-2">
			<h2 class="text-primary">
				Delete Stock
			</h2>
			<hr />
		</div>
		<div class="mb-4">
			<label asp-for="Name"></label>
			<input asp-for="Name" disabled class="form-control" />
		</div>

		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="Market" asp-action="Index" class="btn btn-outline-light" style="width:150px">
			Back to list
		</a>
	</div>
</form>
