@model IEnumerable<StockData>

<div class="container p-1">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Index Market</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Market" asp-action="Create" class="btn btn-primary">
                Add Stock
            </a>
        </div>
    </div>
</div>
<br />

<script>
    function goToDetails(id) {
        window.location.href = '/Market/Details/' + id; // Replace with the actual URL and controller/action names
    }
</script>

<style>
    /* Highlight row on hover */
    .clickable-row:hover {
        background-color: #f2f2f2;
        cursor: pointer;
    }

    /* Style for the "Details" link */
    .details-link {
        color: #007bff;
        text-decoration: none;
        transition: color 0.2s;
    }

        .details-link:hover {
            color: #0056b3;
        }

    .delete-button {
        padding: 2px 9px;
        font-size: 14px;
    }
</style>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Stock Name
            </th>
            <th>
                Full Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%" class="clickable-row" onclick="goToDetails('@obj.Id')">
                    @obj.Name
                </td>
                <td width="50%">
                    @obj.FullName
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Market" asp-action="Delete" asp-route-id="@obj.Id">
                            <i class="delete-button btn btn-danger">Delete</i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
